.fu-summary-box {
    background-color: #e7f0fe;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 25px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.fu-stat {
    font-size: 20px;
    margin-bottom: 5px;
}

.fu-small-gray {
    color: gray;
    font-size: 16px;
}
