<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Biler</title>
    <link rel="stylesheet" th:href="@{/CSS/global.css}">
    <link rel="stylesheet" th:href="@{/CSS/dr.css}">
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<div class="main-container">

    <h1>Biler i system</h1>

    <div class="dr-top-buttons">
        <a th:href="@{/dr/cars/new}">
            <button class="btn-green"> Tilføj bil</button>
        </a>
    </div>
    <!--
    TODO: Kundeinformationer vises ikke under kontrakter
    TODO: Whitelabel når man prøver at slette en kontrakt
    TODO: Whitelabel når man prøver at slette en kunde
    TODO: Når man opretter en kontrakt skal man ikke kunne skrive en biludlejnings pris
    TODO: da bilerne allerede har en pris pr måned i databasen.
    TODO: whitelabel når man prøver at oprette en lejekontrakt-->
<table class="table">
    <tr>
        <th>Mærke</th>
        <th>Model</th>
        <th>Kilometer</th>
        <th>Registrerings tax</th>
        <th>Co2 udledning</th>
        <th>Status</th>
        <th>Pris pr. måned</th>
        <th>Total pris</th>
        <th>Udlejet</th>
        <th>Handling</th>
    </tr>

    <tr th:each="car : ${cars}">
        <td th:text="${car.carBrand}"></td>
        <td th:text="${car.carModel}"></td>
        <td th:text="${car.currentKm}"></td>
        <td th:text="${car.regTax}"></td>
        <td th:text="${car.co2Emission}"></td>
        <td th:text="${car.carStatus}"></td>
        <td th:text="${car.carRentPrice} + ' kr'"></td>
        <td th:text="${car.carTotalPrice} + ' kr'"></td>
        <td>
            <span th:text="${car.activeStatus} ? 'Aktiv' : 'Inaktiv'"></span>
        </td>
    <td>
    <a th:href="@{'/dr/cars/delete/' + ${car.carId}}">
        <button class="btn-red">Slet</button>
    </a>
    </td>
    </tr>
</table>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>