<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body style="margin:0; padding-bottom:70px;">

<div th:fragment="footer">
    <footer
            style="
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 30px;
            text-align: center;
            background-color: #e0f0ff;
            z-index: 1000;

            display: flex;
            align-items: center;
            justify-content: center;
        ">
        <a th:if="${homeUrl != null}"
           th:href="@{${homeUrl}}"
           style="
               text-decoration: none;
               color: white;
               background-color: #2196f3;
               padding: 5px 10px;
               border-radius: 5px;
           ">
            Tilbage til oversigt
        </a>
    </footer>
</div>
</body>
</html>