body {
    font-family: Arial, sans-serif;
    background-color: #f5f9ff;
    margin: 0;
    padding: 0;

    padding-bottom: 70px;
}

.main-container {
    width: 100%;
    border-collapse: collapse;
    margin: 40px auto;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.07);
}

h1, h2 {
    text-align: center;
    color: #3a4f6a;
}

.btn-green {
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;
}

.btn-green:hover {
    background-color: #4f9f4f;
}

.btn-red {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;
}

.btn-red:hover {
    background-color: #b94440;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th {
    background-color: #4486ca; /* Din ønskede farve */
    color: #e1eafb;
    padding: 12px;
    text-align: left;
}


.table td {
    padding: 8px;
    border-bottom: 1px solid #c2d4f6;
}

.table tr:hover td {
    background-color: #eef4ff;
}

.link-list a {
    display: block;
    padding: 12px;
    background-color: #e8f0ff;
    margin-bottom: 8px;
    border-radius: 6px;
    color: #274b7a;
    text-decoration: none;
    font-weight: bold;
}

.link-list a:hover {
    background-color: #578cdc;
}

.error {
    color: red;
    margin-top: 10px;
}
